RingOscillator/Ltspice/
RingOscillator/Presentation/
RingOscillator/Ngspice/bsim4.out
RingOscillator/Ngspice/ringoscillator.eps
RingOscillator/Ngspice/ringoscillator.plt
RingOscillator/Ngspice/ringoscillator.data
